.account .btn-group .btn-mute {
    background: red;
}

.account .btn-group .btn-deafen {
    background: blue;
}

.account .btn-group .btn-settings {
    background: green;
}
LOL UR A FAG I CAN EDIT XD BITCH
